body {
    margin-top: 50px;
    background-color: #f9f9f9;
    font-family: 'Roboto Condensed', sans-serif;
}

input,
button {
    outline: none !important;
}

input,
button,
.panel {
    border-radius: 2px !important;
}

input:focus {
    box-shadow: none !important;
}

.btn-primary,
.btn-primary:focus {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
    font-size:12pt;

}

.btn-primary:hover {
    color: #fff;
    background-color: #569e3d;
    background-image: -webkit-linear-gradient(#79d858, #569e3d);
    background-image: linear-gradient(#79d858, #569e3d);
    border-color: #4a993e;
}

.btn-primary:active,
.btn-primary:visited {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: #569e3d !important;
    background-image: none;
    border-color: #418737 !important;
;
}


/* input icon */

.icon-holder {
    position: relative;
}

.icon {
    font-size: 14pt;
    position: absolute;
    top: -15px;
    left: 8px;
    opacity: 0.0;
}

.icon-holder input,
.icon-holder .icon {
    top: 8px;
    left:-8px;

    transition: all 0.2s ease-in-out;
}

.icon-holder > input:focus {
    padding-left: 28px
}

.icon-holder input:focus + .icon {
    left:8px;
    opacity: 0.7;
}
label {
    font-weight:normal !important;
}
